<!-- <div>
    <a href="about-us">About Us</a> 
</div> -->

<div>
    <a routerLink="about-us">AboutUs</a>
    <a routerLink="auth/login" [queryParams]="{name:'vivek', email:'sample@gmail.com'}">Login</a>
    <a routerLink="public/all-book">AllBooks</a>
    <div>
        <a [routerLink]="['public/book-details',100]">From main page</a>
    </div>
    <!-- <a [routerLink]="['public/book-details',2]">Public</a> -->
</div>

<p>
    <mat-toolbar>
      <span>My Application</span>
    </mat-toolbar>
  </p>

  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </p>

<div>
    <h1>Header</h1>
</div>
<router-outlet></router-outlet>

<div>
    <h1>Footer</h1>
</div>