<h1>Add new book</h1>
<form #myForm ="ngForm" (ngSubmit)="addBook(myForm.value)" class="form_class">
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput name="title" placeholder="Title" ngModel>
        <mat-icon matSuffix>title</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Author Name</mat-label>
        <input matInput type="text" name="author" placeholder="Author" ngModel>
        <mat-icon matSuffix>badge</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Page Number</mat-label>
        <input matInput type="number" name="pages" placeholder="Book Page" ngModel>
        <mat-icon matSuffix>123</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Language</mat-label>
        <input matInput type="text" name="language" placeholder="Language" ngModel>
        <mat-icon matSuffix>language</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <mat-select name="price" placeholder="Language" ngModel>
            <mat-option value="100">$ 100</mat-option>
            <mat-option value="200">$ 200</mat-option>
            <mat-option value="300">$ 300</mat-option>
          </mat-select>
        <!-- <input matInput type="number" name="price" placeholder="price" ngModel> -->
        <mat-icon matSuffix>attach_money</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" name="publisheddate" ngModel>
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-slide-toggle name="isPublished" placeholder="Language" ngModel>Is book Published</mat-slide-toggle>
      <button type="submit" mat-raised-button color="primary">Save</button>
</form>

