.form_class{
    display: flex;
    flex-direction: column;
    padding: 10px;
   }
   
   .mat-mdc-form-field-hint{
       color: red;
   }

   .price_selector{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
   }
   